body
{
    background: rgb(9,10,59) url(Gretsiya.jpg) no-repeat center top;
}

p
{
    color: black;
    text-align: center;
}

td.menu
{
    background: teal;
}

td.menu:hover
{
    background: aqua;
}

h1
{
    text-align: center;
    color: midnightBlue;
}
#c1
{
background:#6699cc;
}

.q18
{
    font-size: 25;
    color:black;
}
